html {
	background-color: #39CFCF;
  font-size: 1.375em;
  line-height: 2em; 
}

h1, p 	{
	text-align: center;
	margin: auto;
	display: block;
	padding: 0.2em 0;
}

h1	{
	font-size: 2em;
	background-color: #0FB7B7;
	padding: 0.5em;
}

p	{
	padding: 1em;
	font-size: 1.25em;
}

ol	{
	background-color:  #0FB7B7;
	line-height: 2em;
	padding: 1em;	
	font-size: 1em;
}


label, input {
	padding: 0.5em;
	margin: auto;
	display: inline-block;
}

label	{
	width: 35%;
	line-height: 1.5em;
	
}

input	{
	width: 50%;
}










#input-dob {
	padding-bottom: 0.5em;
}

input[type="checkbox"] + label {
  display: inline;
}

input[type="checkbox"] {
  width: 2em;
  height: 1em;
}

#input-submit	{
	padding: 0.5em;
	text-align: center;
}

#submit	{
	width: 50%;
}


@media screen and (min-width: 900px)	{
	
	form	{
		width: 90%;
	}

	input {
		width: 95%;
		padding: 0.5em;
	}

	#submit	{
		width: 25%;
	}
	
}

@media screen and (min-width: 1450px)	{
	
	form {
		width:50%;
		display: block;
		margin: auto;
	}

	#input-tos {
		padding-left: 13em;
	}
	
}